@charset "UTF-8";
/*********************************************************************************************
Plugin Name: NHS Blocks
Plugin URI: http://www.leadershipacademy.nhs.uk/
Author: Tony Blacker, NHS Leadership Academy
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: nhsblocks
Tags: NHS, NHS Digital, NHS Frontend, National Health Service, Leadership Academy
Description: Gutenberg native custom blocks companion plugin for the NHS Nightingale theme (can also be standalone).
Version: 1.3.5

**********************************************************************************************/

// Components
@import 'assets/scss/nhsuk-replacement';


// start importing the theme specific settings

@import 'assets/scss/nhs-colours'; // nhs colour pallette
@import 'assets/scss/generic-overrides'; // generic over-rides to remove default wordpress styling issues
@import 'assets/scss/nhsl-blocks'; // specific elements for nhsl-blocks plugin
@import 'assets/scss/style_variations';//gutenberg blocks style variations
@import 'assets/scss/stripe-blocks';//gutenberg blocks stripe

